<div class="panelActualizar">

    <div align="end">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>             
        </button>
    </div>

    <h1 mat-dialog-title>Datos personales</h1>

    <form class="example-form">
        <div mat-dialog-content>

            <div>        
                <mat-form-field class="inputProducto" appearance="fill">
                    <mat-label>nombre</mat-label>
                    <input [(ngModel)]="producto.nombre" name="nombre" matInput type="text" placeholder="Nombre" autocomplete="off">   
                </mat-form-field>

                <mat-form-field class="inputProducto" appearance="fill">
                    <mat-label>Precio</mat-label>
                    <input [(ngModel)]="producto.precio" name="precio" matInput type="number" placeholder="999999" autocomplete="off">   
                </mat-form-field>

                <mat-form-field class="inputProducto" appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input [(ngModel)]="producto.stock" name="stock" matInput type="number" placeholder="Cantidad" autocomplete="off">   
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions align="end">
        <button (click)="Actualizar(producto.id_producto,producto)" mat-stroked-button mat-dialog-close>
            <mat-icon>update</mat-icon>Actualizar
        </button>
        
        </div>
    </form>

</div>
